[Desktop Entry]
Type=Application
Name=AIONE Flow
Icon=io.appflowy.AppFlowy
Exec=AppFlowy %U
Categories=Network;Productivity;
Keywords=Notes
DBusActivatable=true
Implements=io.appflowy.Appflowy;